body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #211f99, #a8478d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-section {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(171, 89, 31, 0.5);
    backdrop-filter: blur(8px);
}

.login-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #ffeeba;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

button {
    background-color: #ab591f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    button:hover {
        background-color: #d67027;
    }

.error {
    color: #ff6b6b;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
